<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAisEwA4t0wIQRf9ZhnYnDQ1ru5J2LDtpk</string>
	<key>GCM_SENDER_ID</key>
	<string>757439610282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IOS.Hangman</string>
	<key>PROJECT_ID</key>
	<string>hungman-931c4</string>
	<key>STORAGE_BUCKET</key>
	<string>hungman-931c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757439610282:ios:0b8a90e280c792a744bfd3</string>
</dict>
</plist>