<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcQvdg0CWovY_sdU_0OVQ72-ysxKobZLc</string>
	<key>GCM_SENDER_ID</key>
	<string>81165145309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IOS.Hangman</string>
	<key>PROJECT_ID</key>
	<string>hangman-eed57</string>
	<key>STORAGE_BUCKET</key>
	<string>hangman-eed57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81165145309:ios:ec58d453b8a79e7b8cf734</string>
</dict>
</plist>